<div class="container-fluid">
			<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
				<a class="navbar-brand text-white" href="/">MovieTracker</a> 
				<a	class="nav-item nav-link text-white ml-auto" href="/users">Users</a>
        <a class="nav-item nav-link text-white" href="/movies">Movies</a>
 				<a	class="nav-item nav-link text-white" href="/login">Login</a>
        <a	class="nav-item nav-link text-white" href="/signUp">SignUp</a>
 			</nav>
		</div>