<div class="container-fluid">
			<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
				<a class="navbar-brand text-white" href="/">MovieTracker</a> 
				<a	class="nav-item nav-link text-white ml-auto" href="/users">Users</a>
        <a class="nav-item nav-link text-white" href="/movies">Movies</a>
        <% if (req.user) { %>
      	<a	class="nav-item nav-link text-white" href="/users/<%=req.user[0].name%>/all">My Diary</a>
        <a	class="nav-item nav-link text-white" href="/users/<%=req.user[0].name%>">My Page</a>
        <a	class="nav-item nav-link text-white" href="/users/<%=req.user[0].name%>/reviews/all">My Reviews</a>
        <a	class="nav-item nav-link text-white" href="/logout">Logout</a>
           <% } %>
        <% if (!req.user) { %>
 				<a	class="nav-item nav-link text-white" href="/login">Login</a>
        <a	class="nav-item nav-link text-white" href="/signUp">SignUp</a>
          <% } %>
 			</nav>
		</div>