<!DOCTYPE html>
<html lang="en">
      <% include partials/head.ejs %>
       
  <body>
    <% include partials/header.ejs %>
   <div class="container col-xs-12 col-sm-8 col-md-8 mx-auto text-white text-center jumbotron" style="margin-top:8%;padding:3%;padding-top:2%; background-color:#303030">
     <h1>Film Data </h1>
     <h3>All Movie data is from <a href="https://www.themoviedb.org/" style="text-decoration:none;color:inherit">TMDb</a></h3>
     <img  src="https://user-images.githubusercontent.com/36819928/44754128-a3180980-aaee-11e8-89b1-7cccb53898ae.png" width="200">
     <h3>This app uses the TMDb API but is not endorsed or certified by TMDb </h3>
     <h3>Please visit the website to submit corrections to any movie data </h3>
      </div>
    
   </body>
    <% include partials/footer.ejs %>
</html>