<!DOCTYPE html>
<html lang="en">
      <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    
     <div class="container col-xs-12 col-sm-8 col-md-6 mx-auto" id = "signUp">
         <% if(errors.length !== 0) { %>
          <%  errors.forEach(error=>{ %> 
              <% if(error.param == 'username') { %>
                   <div class="alert alert-danger" style="margin-top:1%"> <%=error.msg%></div>  
        
               <% } %>
                <% if(error.param == 'password') { %>
                   <div class="alert alert-danger" style="margin-top:1%"><%=error.msg%></div>  
               <% } %>
      <% }) %>
      <% } %>
     
     	<form  th:action="/signUp" method="POST">
  			<div class="form-group">
				<label for="email">Email</label>
 				 <input type="email" name="email" placeholder="Email" class="form-control" required="true">
			</div>
			<div class="form-group">
				<label for="username">Username</label>
           
				 <input type="text" name="username" placeholder="Username" class="form-control" required="true">
			</div>
			<div class="form-group">
				<label for="password">Password</label> 
           
				<input type="password" name="password" placeholder="Password" class="form-control" required="true"/>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
      
		</form>
      
	</div>
	 
   </body>
 
    <% include partials/footer.ejs %>
</html>