.nav-item:hover {
	background-color: grey;
}

body {
  background-color:black;
  margin-bottom:10%;
}
.header {
  margin-bottom:5%;
}
* {
  font-family:Times;
}
 
.footer {
  background-color: #323232;
	padding: 8px;
	margin-top: 4%;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

h1,h2 { 
  color:#DCDCDC;
  font-size:2vw;
  margin-top: 7%;
}

h3,#uses {
  color:white;
  font-size:1.5vw; 
  margin-top: 2%;
}
  
#movies {
  padding-top:2%;
}

#login, #signUp{
  margin-top:10%;
  padding:3%;
  border: 1px solid grey;
}

.fa {
  margin-right:12px;
}
.jumbotron{
  margin-left:10%;
  background-color:black;
  padding:1%;
  margin-bottom:0;
}

#uses > p {
  font-size:1.4vw;
  color:#DCDCDC;
}

#recent-reviews>h3{
  font-size:1.5em;
  margin-left:5%;
  color:#DCDCDC;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: 0.5em;
    border-style: inset;
    border-width: 1px;
} 

#reviews .jumbotron{
  margin-bottom:3%;
  margin-top:3%;
  margin-left:9%;
  padding-bottom:3%;
  background-color:#303030;

}
#reviews a:hover {
  text-decoration: none;
  background-color:grey;
}

#reviews img, .user img{
  margin-right:2%;
}
#reviews a h3:hover, .side a:hover, #mv_review a:hover, .user a:hover{
  color:white;
  font-size:1.7vw;
}
#popular img {
  border: 3px solid white;
}
#popular img:hover {
  border: 6px solid white;
}
#reviews h3{
   color:#DCDCDC;
}
#reviews{
  position:relative;
}

#nowPlaying img:hover,#reviews img:hover,.user img:hover {
  border: 3px solid white;
}

.side{
  margin:5%;
  margin-top:0;
  background-color:black;
  padding:2%;
  padding-top:0;
}

.side hr{
   border-width: 1px;
  border-color:grey;
}

 
.table{
  margin-left:6%;
}

.calendar-text { margin-top: .5em; }

 .border-class {
	border: thin #D3D3D3 solid;
	margin: 20px;
	padding: 4%;
}

 #rec img:hover{
   border-color:yellow !important
}

.menu-1 {
float: left;
margin-left: 10px;
}
 


 